asgiref==3.2.10
beautifulsoup4==4.10.0
dj-database-url==0.5.0
Django==3.1.1
django-appconf==1.0.5
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==2.3.1
django-compressor==2.4.1
django-compressor-toolkit==0.6.0
django-libsass==0.9.1
django-environ==0.8.1
gunicorn==20.0.4
parameterized==0.7.4
psycopg2-binary==2.8.6
pytz==2020.5
rcssmin==1.0.6
rjsmin==1.1.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
whitenoise==5.2.0
